<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-mypage-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
  </div>
</header>