.search-wrapper {
  display: flex;
  background-color: #eaedf7;
}

.l-contents {
  background-color: #fff;
  margin: 30px 50px 50px 200px;
}

.detail-search {
  padding: 0 0 30px 30px;
}

.detail-search h3 {
  font-weight: bold;
  padding: 10px;
}

.select-field {
  width: 200px;
  height: 50px;
}

.price-field {
  width: 246px;
  padding: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}

.min-max-field {
  margin-top: 20px;
}

.minmax-price-field {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #000;
}

.search-submit {
  width: 130px;
  margin: 0 0 30px 20px;
  background-color: red;
  color:#fff;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.search-clear {
  width: 130px;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  color: #fff
}

.search-submit:hover, .search-clear:hover {
  opacity: 0.5;
}

.r-contents {
  width: calc(100% - 300px);
}

.search-header {
  margin: 30px 0;
}

.search-header span {
  font-weight: bold;
  font-size: 24px;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
}

.search-box a {
  color: #000;
}

.search-item {
  margin: 10px;
  background-color: white;
}

.item-image {
  width: 160px;
}

.image-flag {
  position: absolute;
  border-left: 100px solid red;
}

.image-flag span {
  position: relative;
  color: white;
  right: 80px;
}

.item-image img {
  width: 160px;
  height: 160px;
}

.item-name {
  font-size: 16px;
  margin-left: 5px;
}

.item-price {
  font-size: 14px;
  padding: 20px 0 10px 5px;
}