.search-wrapper {
  display: flex;
  background-color: #eaedf7;
}

.l-contents {
  width: 300px;
  height: 500px;
  background-color: #fff;
  margin: 30px 50px 0 200px;
}

.r-contents {
  width: calc(100% - 300px);
}

.search-header {
  margin: 30px 0;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
}

.search-box a {
  color: #000;
}

.search-item {
  margin: 10px;
  background-color: white;
}

.item-image {
  width: 160px;
}

.item-image img {
  width: 160px;
}

.item-name {
  font-size: 16px;
  margin-left: 5px;
}

.item-price {
  font-size: 14px;
  padding: 20px 0 10px 5px;
}